<h3>Create a Task</h3>
<form method="POST" action="/tasks">
<p>Name: <input type="text" name="name"></p>
<p>Description: <input type="text" name="description"></p>
<p>Select A City: <input type="text" name="city_id"></p>
<p>If no city is listed, create one!</p>
<input type="submit" name="submit" value="submit">
<!--
<%@pets.each do |pet|%>
    <input type="checkbox" name="owner[pet_ids][]" value="<%=pet.id%>" id="<%=pet.id%>"><%=pet.name%></input>
<%end%>

<%@current_user.cities.each do |city|%>
    <input type="checkbox" name="city[task_ids][]" value="<%=task.id%>" id="<%=task.id%>"><%=task.name%></input>
<%end%>
</form> -->
