<h3><%=@task.name%></h3>
<p><%=@task.description%></p>
<p>The task's city ID is:<%=@task.city_id%></p>

<form method="POST" action="/tasks/<%=@task.id%>/delete">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="Delete Task">
</form>
<a href="/tasks/<%=@task.id%>/edit">Edit Task</a>
