<h3><%=@task.name.capitalize%></h3>
<p>Description: <%=@task.description%></p>
<p>Location: <%=@task.city.name%></p>

<form method="POST" action="/tasks/<%=@task.id%>/delete">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="Delete Task">
</form>
<a href="/tasks/<%=@task.id%>/edit">Edit Task</a>
