<h3><%=@city.name.capitalize%></h3>
<%@city.tasks.each do |task| if task.complete == false %>

<p>- <a href="/tasks/<%=task.id%>"><%=task.name.capitalize%></a></p>
<%end%>
<%end%>
<form method="POST" action="/cities/<%=@city.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete City">
</form>

<form action="/cities/<%=@city.id%>/edit">
  <input type="submit" value="Edit City"/>
</form>

<form action="/tasks/new">
  <input type="submit" value="Add Experiences"/>
</form>
